@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: "East Sea Dokdo";
	src: url(/fonts/EastSeaDokdo-Regular.ttf);
}
.eastSea_dokdoFont{
    font-family: 'East Sea Dokdo', cursive;
}